<h1>Exercicio 5 PWN</h1>

<ul id="messages"></ul>

<form name="comment-form" id="comment-form">
    <label for="author">Author:</label><br>
    <input name="author" id="author" type="text"><br>
    
    <label for="comment">Comment:</label><br>
    <input name="comment" id="comment" type="text">
    
    <button type="submit">Send</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    const socket = io('http://localhost:3000');

    const messageForm = document.getElementById('comment-form')

    messageForm.onsubmit = function(event) {
        event.preventDefault()

        const author = document.getElementById('author').value
        const comment = document.getElementById('comment').value
        const data = {author, comment}
    
        renderMessage(data)

        socket.emit('sendMessage', data)
    }

    socket.on('messageAll', (message) => {
        renderMessage(message)
    })

    const messageList = document.getElementById('messages')
    const renderMessage = (message) => {
        const element = document.createElement('li')
        element.innerHTML =`<strong>${message.author}</strong>: ${message.comment}`
        messageList.append(element)
    }

</script>